<div class="header">
  {{data.title}}
</div>
<p class="title">
  {{data.message}}
</p>
<button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="Delete()">ลบ</button>
<button mat-raised-button type="submit" class="btn btn-link pull-right" (click)="onNoClick()">ยกเลิก</button>