<div class="card">
  <div class="card-header card-header-danger">
    <h4 class="card-title">ข้อมูลสินค้า

    </h4>
  </div>
  <div class="card-body">
    <div class="row align-items-center margin-bottom">
      <div class="col-md-3 m--margin-bottom-10-mobile padding-tb-8">
        <mat-form-field>
          <input matInput (keyup)="Filter($event.target.value)" placeholder="ค้นหาข้อมูล">
          <mat-hint align="start">
            <strong>ค้นหาจากข้อมูลทั้งหมด</strong>
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc"
      matSortDisableClear>
      <!-- Position Column -->

      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef mat-sort-header>รูปภาพ</mat-header-cell>
        <mat-cell *matCellDef="let element"> <img [src]="IMG_URL+element.product_image" width="120"></mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อสินค้า</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.product_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>จำนวน</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.quantity}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[3 ,5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
<button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onNoClick()">ปิดหน้าต่าง</button>