<angular-loader></angular-loader>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <!-- Left -->
      <div class="col-md-4">
        <div class="row">
          <div class="col-lg-12">
            <div class="card card-profile">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" id="image" src="./assets/img/master-data/picture.png" />
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">{{name}}</h4>
                <a (click)="ClickUpload()" style="color: #ffffff" class="btn btn-danger btn-round">อัพโหลดรูป</a>
                <input type="file" id="clickUpload" style="position: absolute; top: 1000px; left: 2500px; z-index: -1;"
                  class="form-control" (change)="onFileChange($event)">
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header card-header-danger">
                <h4 class="card-title">เลือกร้านค้า</h4>
              </div>
              <div class="card-body">
                <mat-form-field *ngIf="user_shop.length != 0">
                  <mat-label>ร้านค้า</mat-label>
                  <select matNativeControl required [(ngModel)]="shop_id">
                    <option *ngFor="let user_shop_data of user_shop" [value]="user_shop_data.id">
                      {{user_shop_data.name}}
                    </option>
                  </select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- right -->
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">จัดการข้อมูลสมาชิก</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="user">
              <div class="row" *ngIf="edit_mode">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" formControlName="username">
                  </mat-form-field>
                </div>
              </div>
              <div class="row" *ngIf="!edit_mode">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" formControlName="username">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" formControlName="password" type="password">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="อีเมล" formControlName="email" type="email">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>เพศ</mat-label>
                    <select matNativeControl formControlName="gender_id" required>
                      <option value="1">ไม่ระบุ</option>
                      <option value="2">ชาย</option>
                      <option value="3">หญิง</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="ชื่อ" formControlName="firstname" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="นามสกุล" formControlName="lastname" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" formControlName="birthdate" placeholder="วันเกิด">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="อายุ" formControlName="age" type="number">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="ที่อยู่" formControlName="address"></textarea>
                  </mat-form-field>
                  <!-- <div class="form-group">
  
                            <div class="form-group">
                                <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                        </div> -->
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right" *ngIf="edit_mode"
                [disabled]="!user.valid" (click)="updateUser()">อัพเดตข้อมูลสมาชิก</button>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right" *ngIf="!edit_mode"
                [disabled]="!user.valid" (click)="addUser()">เพิ่มข้อมูลสมาชิก</button>
              <div class="clearfix"></div>
            </form>

          </div>
        </div>
      </div>

      <!-- change password -->
      <div class="col-md-12" *ngIf="edit_mode">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">เปลี่ยนรหัสผ่าน</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="change_password">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="รหัสผ่านเก่า" formControlName="password">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="รหัสผ่านใหม่" formControlName="new_password">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="ยืนยันรหัสผ่าน" formControlName="confirm_password">
                  </mat-form-field>
                </div>
              </div>

              <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                (click)="changePassword()">เปลี่ยนรหัสผ่าน</button>

              <div class="clearfix"></div>
            </form>

          </div>
        </div>
      </div>
      <!-- Tranchection -->
      <div class="col-md-12" *ngIf="edit_mode">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">ข้อมูลการขาย
            </h4>
          </div>
          <div class="card-body">
            <div class="row align-items-center margin-bottom">
              <div class="col-md-3 m--margin-bottom-10-mobile padding-tb-8">
                <mat-form-field>
                  <input matInput (keyup)="Filter($event.target.value)" placeholder="ค้นหาข้อมูล">
                  <mat-hint align="start">
                    <strong>ค้นหาจากข้อมูลทั้งหมด</strong>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id"
              matSortDirection="asc" matSortDisableClear>
              <!-- Position Column -->

              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>วันที่</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.date }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef mat-sort-header>จำนวนครั้ง</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.amount}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="shop_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อสินค้า</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.shop_name}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> ดำเนินการ </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a (click)="openDialog(element.user_report_detail)" mat-icon-button color="primary">
                    <mat-icon>aspect_ratio</mat-icon>
                  </a>&nbsp;
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[3 ,5, 10, 25, 100]">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>