<angular-loader></angular-loader>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">จัดการข้อมูลสินค้า
              <button mat-raised-button class="float-sm-right" [routerLink]="['/product/add']">เพิ่มข้อมูล</button>
            </h4>
          </div>
          <div class="card-body">
            <div class="row align-items-center margin-bottom">
              <div class="col-md-3 m--margin-bottom-10-mobile padding-tb-8">
                <mat-form-field>
                  <input matInput (keyup)="Filter($event.target.value)" placeholder="ค้นหาข้อมูล">
                  <mat-hint align="start">
                    <strong>ค้นหาจากข้อมูลทั้งหมด</strong>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id"
              matSortDirection="asc" matSortDisableClear>
              <!-- Position Column -->
              <ng-container matColumnDef="image">
                <mat-header-cell *matHeaderCellDef mat-sort-header>รูปภาพ</mat-header-cell>
                <mat-cell *matCellDef="let element"> <img [src]="IMG_URL+element.image" width="120" height="100">
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อสินค้า</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ราคา</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.price}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> ดำเนินการ </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a [routerLink]="pathEdit" [queryParams]="{id: element.id}" mat-icon-button color="primary">
                    <mat-icon>create</mat-icon>
                  </a>&nbsp;
                  <button mat-icon-button color="warn" type="button" (click)="deleteProduct(element.id)">
                    <mat-icon>delete</mat-icon>
                  </button>&nbsp;
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[3 ,5, 10, 25, 100]">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>