<div class="header">
  {{data.title}}
</div>
<p class="title">
  <mat-form-field>
    <mat-select [formControl]="bankCtrl" placeholder="สินค้า" #singleSelect>
      <mat-select-search [formControl]="bankFilterCtrl"></mat-select-search>
      <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
        {{bank.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>
<button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="Add()">เพิ่ม</button>
<button mat-raised-button type="submit" class="btn btn-link pull-right" (click)="onNoClick()">ยกเลิก</button>