<angular-loader></angular-loader>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img [src]="checkImage(logo)" alt="IMG">
            </div>

            <form (ngSubmit)="loginForm()" class="login100-form validate-form">
                <span class="login100-form-title">
                    {{name}}
                </span>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input [(ngModel)]="data.username" name="username" matInput placeholder="Username" class="input100">
                    <span class="focus-input100"></span>
                    <!-- <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span> -->
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" [(ngModel)]="data.password" name="password" matInput placeholder="Password"
                        type="password">
                    <span class="focus-input100"></span>
                    <!-- <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span> -->
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        เข้าสู่ระบบ
                    </button>
                </div>

                <div class="text-center p-t-12">

                    <a class="txt2" routerLink="/register">
                        สมัครสมาชิก
                    </a>
                </div>

                <div class="text-center p-t-136">
                    <!-- <a class="txt2" href="#">
                            Create your Account
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a> -->
                </div>
            </form>
        </div>
    </div>
</div>