.header{
    background: linear-gradient(60deg, #ef5350, #e53935);
    padding: 2rem;
    margin-left: -24px;
    margin-top: -24px;
    margin-right: -24px;
    color:#FFF;
    font-size: 20px;
    font-weight: bold;

}

.title{
    padding: 2rem 0;
    font-family: 'Kanit' !important;
}

.btn-danger{
    color:#FFF !important;
}