.form>div.row{
    margin: 3rem 0;
}

label{
    text-align:right;
    font-size: 16px;
    font-weight: 500;
    color:#3f4047;
}

.shadow{
    border: 1px solid;
    margin: 0 15rem !important;
}

.button{
    padding-top: 2rem;
}