<angular-loader></angular-loader>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">จัดการข้อมูลร้านค้า</h4>
          </div>

          <div class="card-body">
            <form class="form" [formGroup]="shop">
              <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-10">
                  <img style="padding-left: 15px" id="image" src="./assets/img/master-data/picture.png" alt=""
                    height="200" width="250">
                </div>
              </div>
              <div class="row">
                <label class="col-md-2">รูปภาพ:</label>
                <div class="col-lg-6">
                  <input name="profileImage" class="form-control m-input" placeholder="Choose a picture" type="file"
                    accept="image/*" (change)="onFileChange($event)" #fileInput>
                  <!-- <small
                    *ngIf="problemTypeformGroup.controls.image.errors != null && problemTypeformGroup.controls.image.touched"
                    class="text-danger">รูปภาพ
                    <strong>จำเป็นต้องระบุ</strong>
                  </small> -->
                </div>
              </div>
              <div class="row">
                <label class="col-md-2">ชื่อร้านค้า:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="ชื่อร้านค้า" formControlName="name">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label class="col-lg-2">ที่อยู่:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="ที่อยู่" formControlName="address"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label class="col-lg-2"></label>
                <div class="col-lg-10">
                  <button mat-raised-button type="submit" class="btn btn-danger" (click)="addShopProduct()"
                    [disabled]="!edit_mode">เพิ่มสินค้า</button>


                </div>
              </div>
              <div class="shadow" *ngIf="edit_mode">
                <mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id"
                  matSortDirection="asc" matSortDisableClear>
                  <!-- Position Column -->
                  <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>รูปภาพ</mat-header-cell>
                    <mat-cell *matCellDef="let element"> <img [src]="IMG_URL+element.product_image" width="120">
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="product_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อสินค้า</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.product_name}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <!-- action -->
                    <mat-header-cell *matHeaderCellDef> ดำเนินการ </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <button mat-icon-button color="warn" type="button" (click)="deleteShopProduct(element.id)">
                        <mat-icon>delete</mat-icon>
                      </button>&nbsp;
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[3 ,5, 10, 25, 100]">
                </mat-paginator>
              </div>

              <div class="clearfix"></div>
              <div class="button">
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="addShop()"
                  *ngIf="!edit_mode" [disabled]="!shop.valid">เพิ่มข้อมูลสินค้า</button>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="updateUser()"
                  *ngIf="edit_mode" [disabled]="!shop.valid">อัพเดตข้อมูลสินค้า</button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>