<angular-loader></angular-loader>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">จัดการข้อมูลสินค้า</h4>
          </div>

          <div class="card-body">
            <form class="form">
              <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-10">
                  <img style="padding-left: 15px" src="./assets/img/master-data/picture.png" height="200" width="250"
                    id="image">
                </div>
              </div>
              <div class="row">
                <label class="col-md-2">รูปภาพ:</label>
                <div class="col-lg-6">
                  <input name="profileImage" class="form-control m-input" placeholder="Choose a picture" type="file"
                    accept="image/*" (change)="onFileChange($event)" #fileInput>
                  <!-- <small
                      *ngIf="problemTypeformGroup.controls.image.errors != null && problemTypeformGroup.controls.image.touched"
                      class="text-danger">รูปภาพ
                      <strong>จำเป็นต้องระบุ</strong>
                    </small> -->
                </div>
              </div>
              <div class="row">
                <label class="col-md-2">ชื่อสินค้า:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="ชื่อสินค้า" [(ngModel)]="product.name" name="name">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label class="col-lg-2">ราคา:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="ราคา" type="number" [(ngModel)]="product.price" name="price">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="updateProduct()"
                *ngIf="edit_mode" [disabled]="!product.name || !product.price">อัพเดทข้อมูลสินค้า</button>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="addProduct()"
                *ngIf="!edit_mode"
                [disabled]="!product.name || !product.price || !product_image">บันทึกข้อมูลสินค้า</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>