.active-pro{
    position: absolute;
    width: 100%;
    bottom: 13px;
}

.profile{
    position: absolute;
    width: 100%;
    bottom: 73px;
}

p,.logo>.simple-text{
    font-family: 'Kanit' !important;
}


