<angular-loader></angular-loader>
<div class="main-content">
    <div class="container-fluid">
        <!-- Top -->
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">person</i>
                        </div>
                        <p class="card-category">Membership</p>
                        <h3 class="card-title">{{user}}
                            <!-- <small>GB</small> -->
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons text-danger">person</i> -->
                            <a [routerLink]="['/user']">ข้อมูลสมาชิก ทั้งหมด..</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Stores</p>
                        <h3 class="card-title">{{shop}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons text-danger">person</i> -->
                            <a [routerLink]="['/shop']">ข้อมูลร้านค้า ทั้งหมด..</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">local_mall</i>
                        </div>
                        <p class="card-category">Product</p>
                        <h3 class="card-title">{{product}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons text-danger">person</i> -->
                            <a [routerLink]="['/product']">ข้อมูลสินค้า ทั้งหมด..</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">compare_arrows</i>
                        </div>
                        <p class="card-category">Transaction</p>
                        <h3 class="card-title">{{transaction}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> ข้อมูลอัพเดตต่อวัน
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- middle -->
        <div class="row">
            <!-- Left -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger ">
                        <h4 class="card-title">สินค้ายอดนิยม

                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center margin-bottom">
                            <div class="col-md-3 m--margin-bottom-10-mobile padding-tb-8">
                                <mat-form-field>
                                    <input matInput (keyup)="FilterProduct($event.target.value)"
                                        placeholder="ค้นหาข้อมูล">
                                    <mat-hint align="start">
                                        <strong>ค้นหาจากข้อมูล</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-table class="lmat-elevation-z8" #sort_product="matSort" [dataSource]="dataSource_product"
                            matSort matSortActive="user_report_detail_quantity" matSortDirection="desc"
                            matSortDisableClear>
                            <!-- Position Column -->

                            <ng-container matColumnDef="image">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>รูปภาพ</mat-header-cell>
                                <mat-cell *matCellDef="let element"> <img [src]="IMG_URL+element.product_image"
                                        width="120" height="100">
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="product_name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อสินค้า</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.product_name}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="user_report_detail_quantity">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>จำนวน</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.user_report_detail_quantity}}</mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns_product"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns_product;"></mat-row>
                        </mat-table>
                        <mat-paginator #paginator_product [length]="100" [pageSize]="5"
                            [pageSizeOptions]="[3 ,5, 10, 25, 100]">
                        </mat-paginator>
                    </div>
                </div>
            </div>
            <!-- Right -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-success ">
                        <h4 class="card-title">ร้านค้ายอดนิยม

                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center margin-bottom">
                            <div class="col-md-3 m--margin-bottom-10-mobile padding-tb-8">
                                <mat-form-field>
                                    <input matInput (keyup)="FilterShop($event.target.value)" placeholder="ค้นหาข้อมูล">
                                    <mat-hint align="start">
                                        <strong>ค้นหาจากข้อมูล</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-table class="lmat-elevation-z8" #sort_shop="matSort" [dataSource]="dataSource_shop" matSort
                            matSortActive="user_report_detail_quantity" matSortDirection="desc" matSortDisableClear>
                            <!-- Position Column -->

                            <ng-container matColumnDef="image">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>รูปภาพ</mat-header-cell>
                                <mat-cell *matCellDef="let element"> <img [src]="IMG_URL+element.shop_image" width="120"
                                        height="100">
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="shop_name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อร้านค้า</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.shop_name}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="user_report_detail_quantity">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>จำนวน</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.user_report_detail_quantity}}</mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns_shop"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns_shop;"></mat-row>
                        </mat-table>
                        <mat-paginator #paginator_shop [length]="100" [pageSize]="5"
                            [pageSizeOptions]="[3 ,5, 10, 25, 100]">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>

        <!--  bottom -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">ข้อมูลการขาย ทั้งหมด

                    </h4>
                </div>
                <div class="card-body">
                    <div class="row align-items-center margin-bottom">
                        <div class="col-md-3 m--margin-bottom-10-mobile padding-tb-8">
                            <mat-form-field>
                                <input matInput (keyup)="FilterTransection($event.target.value)"
                                    placeholder="ค้นหาข้อมูล">
                                <mat-hint align="start">
                                    <strong>ค้นหาจากข้อมูลทั้งหมด</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-table class="lmat-elevation-z8" [dataSource]="dataSource_transection"
                        #sort_transection="matSort" matSort matSortActive="id" matSortDirection="asc"
                        matSortDisableClear>
                        <!-- Position Column -->

                        <ng-container matColumnDef="date">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>วันที่</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.date }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="amount">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>จำนวนครั้ง</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.amount}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="shop_name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อร้านค้า</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.shop_name}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="user_username">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อสมาชิก</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.user_username}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef> รายละเอียด </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <a (click)="openDialog(element.user_report_detail)" mat-icon-button color="primary">
                                    <mat-icon>aspect_ratio</mat-icon>
                                </a>&nbsp;
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns_transection"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns_transection;"></mat-row>
                    </mat-table>
                    <mat-paginator #paginator_transection [length]="100" [pageSize]="10"
                        [pageSizeOptions]="[3 ,5, 10, 25, 100]">
                    </mat-paginator>
                </div>
            </div>
        </div>

    </div>
</div>