/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
}


.card-title {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.6rem 0;
}

.mat-header-cell {
    font-size: 16px !important;
    font-weight: 500;
}

.main-panel .main-content {
    margin-top: 30px !important;
}

.success{
    background:#28A745 !important;
    color: #FFF !important;
    font-size: 16px;
    font-weight: bold;
}

.update{
    background:#ffc107 !important;
    color: #000 !important;
    font-size: 16px;
    font-weight: bold;
}

.error{
    background:#e74c3c !important;
    color: #FFF !important;
    font-size: 16px;
    font-weight: bold;
}

body {
    overflow-x:hidden;
}

.sidebar .nav li.active > a p {
    color: #fff !important;
}