<angular-loader></angular-loader>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <!-- Left -->
          <div class="col-md-12">
            <div class="row">
              <div class="col-lg-12">
                <div class="card card-profile">
                  <div class="card-avatar">
                    <a href="#pablo">
                      <img class="img" id="image" [src]="checkImage(profile_image)" />
                    </a>
                  </div>
                  <div class="card-body">
                    <a (click)="ClickUpload()" style="color: #ffffff" class="btn btn-danger btn-round">อัพโหลดรูป</a>
                    <input type="file" id="clickUpload"
                      style="position: absolute; top: 1000px; left: 2500px; z-index: -1;" class="form-control"
                      (change)="onFileChange($event)">
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- change password -->
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-danger">
                <h4 class="card-title">เปลี่ยนรหัสผ่าน</h4>
              </div>
              <div class="card-body">
                <form [formGroup]="change_password">
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput type="password" placeholder="รหัสผ่านเก่า" formControlName="password">
                      </mat-form-field>
                    </div>
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput type="password" placeholder="รหัสผ่านใหม่" formControlName="new_password">
                      </mat-form-field>
                    </div>
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput type="password" placeholder="ยืนยันรหัสผ่าน" formControlName="confirm_password">
                      </mat-form-field>
                    </div>
                  </div>

                  <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                    (click)="changePassword()">เปลี่ยนรหัสผ่าน</button>

                  <div class="clearfix"></div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- right -->
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-danger">
                <h4 class="card-title">ชื่อโปรแกรม</h4>
              </div>
              <div class="card-body">
                <form [formGroup]="master_data_website">
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput formControlName="name" placeholder="ชื่อโปรแกรม">
                      </mat-form-field>
                    </div>

                  </div>

                  <button mat-raised-button type="submit" (click)="updateDataWebsite()"
                    class="btn btn-danger pull-right" [disabled]="!master_data_website.valid">
                    อัพเดต </button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-danger">
                <h4 class="card-title">จัดการข้อมูลผู้ใช้</h4>
              </div>
              <div class="card-body">
                <form [formGroup]="profile">
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput formControlName="username" placeholder="Username">
                      </mat-form-field>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <mat-form-field class="example-full-width">
                        <input matInput formControlName="email" placeholder="อีเมล" type="email">
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label>เพศ</mat-label>
                        <select formControlName="gender_id" matNativeControl required>
                          <option value="1">ไม่ระบุ</option>
                          <option value="2">ชาย</option>
                          <option value="3">หญิง</option>
                        </select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput formControlName="firstname" placeholder="ชื่อ" type="text">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="นามสกุล" formControlName="lastname" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field>
                        <input matInput [matDatepicker]="picker" formControlName="birthdate" placeholder="เลือกวันเกิด">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>

                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="อายุ" formControlName="age" type="number">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <textarea matInput formControlName="address" placeholder="ที่อยู่"></textarea>
                      </mat-form-field>
                    </div>
                  </div>

                  <button mat-raised-button type="submit" (click)="updateProfile()" class="btn btn-danger pull-right"
                    [disabled]="!profile.valid">
                    อัพเดต </button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>