<angular-loader></angular-loader>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <!-- <div class="login100-pic js-tilt" data-tilt> -->
      <img [src]="checkImage(logo)" class="image" alt="IMG">
      <!-- </div> -->

      <form [formGroup]="register" class="login100-form validate-form">

        <span class="login100-form-title">
          {{name}}
        </span>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input name="firstname" formControlName="firstname" matInput placeholder="ชื่อ" class="input100">
          <span class="focus-input100"></span>
          <!-- <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span> -->
        </div>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input name="lastname" formControlName="lastname" matInput placeholder="นามสกุล" class="input100">
          <span class="focus-input100"></span>
          <!-- <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span> -->
        </div>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input name="email" type="email" formControlName="email" matInput placeholder="อีเมล" class="input100">
          <span class="focus-input100"></span>
          <!-- <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span> -->
        </div>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input name="birthdate" type="date" matInput placeholder="อีเมล" formControlName="birthdate" class="input100">
          <span class="focus-input100"></span>
          <!-- <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span> -->
        </div>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <select matInput class="input100">
            <option value="1">ไม่ระบุเพศ</option>
            <option value="2">ชาย</option>
            <option value="3">หญิง</option>
          </select>
          <span class="focus-input100"></span>
          <!-- <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span> -->
        </div>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input name="age" type="number" matInput placeholder="อายุ" formControlName="age" class="input100">
          <span class="focus-input100"></span>
          <!-- <span class="symbol-input100">
                          <i class="fa fa-envelope" aria-hidden="true"></i>
                      </span> -->
        </div>

        <p class="input-user">กรอกข้อมูลเพื่อเข้าสู่ระบบ</p>
        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input formControlName="username" name="username" matInput placeholder="username" class="input100">
          <span class="focus-input100"></span>
          <!-- <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span> -->
        </div>
        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100" formControlName="password" name="password" matInput placeholder="Password"
            type="password">
          <span class="focus-input100"></span>
          <!-- <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span> -->
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" (click)="registerForm()">
            สมัครสมาชิก
          </button>
        </div>

        <div class="text-center p-t-12">

          <a class="txt2" routerLink="/login">
            เข้าสู่ระบบ
          </a>
        </div>

        <div class="text-center p-t-136">
          <!-- <a class="txt2" href="#">
                            Create your Account
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a> -->
        </div>
      </form>
    </div>
  </div>
</div>