* {
    font-family: 'Kanit', sans-serif !important;
    font-size: 15px;
}

.login100-form-title {
    font-size: 30px;
}

.wrap-login100{
    padding: 0px 130px 33px 95px;
}

.login100-form {
    width: 100% !important;
}

.input-user{
    padding-top: 0.5em;
}

.image{
    width:350px;
    margin: 0 auto;
}